/* rtl:begin:ignore */
@font-face {
	font-family: 'Tahrir';
	src: url('../fonts/TahrirRegular.woff2') format('woff2'),
	url('../fonts/TahrirRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tahrir';
	src: url('../fonts/TahrirBold.woff2') format('woff2'),
	url('../fonts/TahrirBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Tahrir';
	src: url('../fonts/TahrirBlack.woff2') format('woff2'),
	url('../fonts/TahrirBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: 'Tahrir', sans-serif;
}

// H1 Utilities
.text-h1 {
	&-reg, &-bold, &-black, a {
		font-style: normal;
	}

	&-reg {
		font-weight: 400;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	@media media-breakpoint-down(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 34px;
			line-height: 42px;
		}
	}

	@media media-breakpoint-up(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 52px;
			line-height: 75px;
		}
	}
}

// H2 Utilities
.text-h2 {
	&-reg, &-bold, &-black, a {
		font-style: normal;
	}

	&-reg {
		font-weight: 400;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	@media media-breakpoint-down(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 30px;
			line-height: 34px;
		}
	}

	@media media-breakpoint-up(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 44px;
			line-height: 60px;
		}
	}
}

// H3 Utilities
.text-h3 {
	&-reg, &-bold, &-black, a {
		font-style: normal;
	}

	&-reg {
		font-weight: 400;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	@media media-breakpoint-down(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 26px;
			line-height: 52px;
		}
	}

	@media media-breakpoint-up(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 36px;
			line-height: 52px;
		}
	}
}

// H4 Utilities
.text-h4 {
	&-reg, &-bold, &-black, a {
		font-style: normal;
	}

	&-reg {
		font-weight: 400;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	@media media-breakpoint-down(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 22px;
			line-height: 25px;
		}
	}

	@media media-breakpoint-up(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 30px;
			line-height: 48px;
		}
	}
}

// H5 Utilities
.text-h5 {
	&-reg, &-bold, &-black, a {
		font-style: normal;
	}

	&-reg {
		font-weight: 400;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	@media media-breakpoint-up(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 20px;
			line-height: 34px;
		}
	}

	@media media-breakpoint-down(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 18px;
			line-height: 30px;
		}
	}
}

// H6 Utilities
.text-h6 {
	&-reg, &-bold, &-black, a {
		font-style: normal;
	}

	&-reg {
		font-weight: 400;
	}

	&-bold {
		font-weight: 700;
	}

	&-black {
		font-weight: 900;
	}

	@media media-breakpoint-up(lg) {
		&-reg, &-bold, &-black, a {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

// Button Utilities
.text-button {
	&-14, &-16, &-18, &-20 {
		&-reg, &-bold, &-black, a {
			font-style: normal;
			line-height: 16px;
		}

		&-reg {
			font-weight: 400;
		}

		&-bold {
			font-weight: 700;
		}

		&-black {
			font-weight: 900;
		}
	}

	// Button 14
	&-14 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 14px !important;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 14px !important;
			}
		}
	}

	// Button 16
	&-16 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 16px !important;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 16px !important;
			}
		}
	}

	// Button 18
	&-18 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 18px !important;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 18px !important;
			}
		}
	}

	// Button 20
	&-20 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 20px !important;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 20px !important;
			}
		}
	}
}

// Caption Utilities
.text-caption {
	&1, &2 {
		&-reg, &-bold, &-black, a {
			font-style: normal;
		}

		&-reg {
			font-weight: 400;
		}

		&-bold {
			font-weight: 700;
		}

		&-black {
			font-weight: 900;
		}
	}

	// Caption1
	&1 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 12px;
				line-height: 20px;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 12px;
				line-height: 20px;
			}
		}
	}

	// Caption2
	&2 {
		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 10px;
				line-height: 16px;
			}
		}
	}
}

// Body Text Utilities
.text-body {
	&1, &2, &3 {
		&-reg, &-bold, &-black, a {
			font-style: normal;
		}

		&-reg {
			font-weight: 400;
		}

		&-bold {
			font-weight: 700;
		}

		&-black {
			font-weight: 900;
		}
	}

	// Body1
	&1 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 16px;
				line-height: 28px;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 18px;
				line-height: 23px;
				letter-spacing: 0.36px;
			}
		}
	}

	// Body2
	&2 {
		@media media-breakpoint-down(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 14px;
				line-height: 24px;
			}
		}

		@media media-breakpoint-up(lg) {
			&-reg, &-bold, &-black, a {
				font-size: 16px;
				line-height: 28px;
			}
		}
	}

	// Body3
	&3 {
		&-reg, &-bold, &-black, a {
			font-size: 14px;
			line-height: 23px;
		}
	}
}

.draw-title-1 {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	padding-right: 10px;
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='265' height='17' preserveAspectRatio='none' viewBox='0 0 265 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M88.0296 1.42904C58.9125 1.09382 29.6765 2.3189 1.49335 7.46305C0.990518 7.55448 0.781774 7.73428 0.740633 7.77543C0.499882 8.01922 0.473934 8.27825 0.504409 8.49158C0.522693 8.62109 0.64617 9.16811 1.32119 9.22449C1.78745 9.26258 5.09697 8.99593 6.37386 8.92736C12.385 8.60585 18.3841 8.14721 24.38 7.61695C37.9748 6.41929 51.5513 5.38315 65.1674 4.43995C72.812 3.90969 80.4597 3.47084 88.1028 3.11124C106.49 3.32608 124.831 4.16416 142.829 5.02964C135.676 5.47 129.102 5.91645 123.652 6.20596C114.461 6.69356 105.286 7.26953 96.1131 8.02835C91.4002 8.41691 86.6933 8.839 81.9895 9.33726C81.4684 9.39364 80.2814 9.45153 79.707 9.5201C79.4632 9.54753 79.2864 9.59172 79.2072 9.6222C78.7105 9.81419 78.648 10.2073 78.6419 10.4054C78.6389 10.5258 78.68 11.1825 79.5181 11.3105C118.485 17.3171 159.138 10.3292 198.245 16.1682C198.704 16.2368 199.133 15.9198 199.202 15.4596C199.27 15.001 198.953 14.5713 198.493 14.5027C161.661 9.00355 123.457 14.8837 86.5776 10.5669C89.8003 10.2545 93.0245 9.97265 96.2517 9.70599C105.408 8.94869 114.566 8.37425 123.742 7.88666C132.975 7.39753 145.458 6.44214 158.524 5.84026C169.737 6.465 180.944 7.16591 192.159 7.76017C196.89 8.01007 201.623 8.2173 206.353 8.47177C208.297 8.57538 213.299 9.00964 214.025 8.84813C214.589 8.72166 214.724 8.31787 214.758 8.11522C214.793 7.8958 214.771 7.62304 214.515 7.36248C214.436 7.2802 214.199 7.10954 213.711 6.96936C200.523 3.19201 178.928 3.25143 158.704 4.16415C154.354 3.92035 150.003 3.68874 145.651 3.47999C135.689 3.00001 125.617 2.5185 115.487 2.13909C144.035 1.4336 172.596 1.63626 201.164 2.14672C213.159 2.36156 245.492 3.65675 258.225 4.80108C258.07 4.96107 257.979 5.18354 257.989 5.42581C258.011 5.88903 258.405 6.24863 258.87 6.2273C261.497 6.1054 263.016 5.94998 263.618 5.78999C263.993 5.69094 264.197 5.53247 264.291 5.42886C264.523 5.17897 264.566 4.91078 264.52 4.65631C264.491 4.49784 264.419 4.32414 264.255 4.16415C264.145 4.05444 263.877 3.88684 263.42 3.77255C258.414 2.52766 215.477 0.718963 201.195 0.462974C163.453 -0.210519 125.727 -0.347642 88.0296 1.42904ZM203.502 6.63718C196.127 5.63608 187.481 5.2841 178.462 5.30695C183.056 5.57361 187.652 5.83418 192.249 6.07798C195.999 6.27759 199.75 6.44823 203.502 6.63718ZM53.2457 3.60342C43.57 4.31653 33.9048 5.08754 24.2321 5.94083C23.1152 6.03835 21.9999 6.13435 20.883 6.22882C31.5796 4.91841 42.3875 4.08492 53.2457 3.60342Z' fill='%23841D32'/%3E%3C/svg%3E");
		margin-right: -10px;
		margin-top: 0;
		width: 100%;
		max-width: 264px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}

.draw-title-2 {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	padding-right: 10px;
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='260' height='25' viewBox='0 0 260 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M202.312 0.0208129C168.695 0.322981 146.417 1.48801 101.861 5.27376C97.9427 5.6066 91.8162 6.12526 88.2468 6.42634C58.8431 8.90571 17.805 15.0552 6.51362 18.6737C4.17194 19.4242 0 21.508 0 21.9273C0 21.9966 0.194835 21.8879 0.961193 21.3907C4.49431 19.0985 13.9738 17.0486 37.3162 13.5291C51.1046 11.45 66.1719 9.57303 78.5827 8.38855C88.0562 7.48434 133.009 3.96575 134.522 4.01021C134.832 4.01927 133.118 4.20008 130.713 4.41198C104.872 6.68864 96.0726 7.61164 80.4873 9.68114C68.4114 11.2845 61.3272 12.4604 43.2244 15.8665C36.4137 17.1479 36.6104 17.1003 36.5023 17.4961C36.2286 18.4989 37.1009 18.5212 42.6947 17.6544C80.6299 11.7768 103.27 9.63951 138.754 8.58571C148.302 8.30219 181.376 8.04259 180.797 8.2557C180.466 8.37746 170.518 9.12356 153.85 10.2767C116.557 12.8569 92.6944 15.9214 66.4231 21.5046C59.1388 23.0526 57.8316 23.5398 58.4674 24.4693C59.1388 25.4508 63.291 25.1716 83.5911 22.7794C113.994 19.1966 125.284 18.237 149.618 17.1671C155.274 16.9184 164.991 16.6644 164.713 16.7725C164.636 16.8026 158.509 17.4697 151.099 18.2547C132.557 20.2188 120.66 21.6588 120.244 21.9891C119.603 22.4983 119.788 23.2326 120.612 23.4518C121.617 23.7191 124.458 23.5729 130.995 22.9172C145.172 21.4951 159.34 20.7157 180.289 20.205C183.424 20.1285 187.075 20.0082 188.401 19.9377C191.487 19.7736 196.379 19.774 198.644 19.9386C199.613 20.009 200.82 20.0959 201.324 20.1317C203.237 20.2673 196.604 19.3943 193.776 19.1382C186.688 18.4966 177.449 18.3529 166.492 18.714C163.978 18.7969 161.9 18.8437 161.873 18.8183C161.817 18.7648 164.365 18.5152 176.705 17.3653C186.167 16.4836 186.404 16.4446 186.765 15.7164C186.994 15.2543 186.765 14.7047 186.228 14.4268C185.822 14.2165 172.004 14.2828 164.502 14.5311C146.517 15.1264 136.986 15.6339 124.999 16.6346C112.87 17.6472 104.812 18.5522 84.6602 21.1657C72.3915 22.7568 65.9314 23.5222 63.7691 23.6413L62.4288 23.7151L64.0513 23.3127C69.056 22.072 85.7388 19.0452 95.2304 17.6559C114.947 14.7697 128.421 13.4455 158.647 11.4233C184.044 9.72424 189.245 9.21504 189.638 8.38976C190.061 7.50055 189.306 6.9723 187.216 6.69473C184.366 6.31621 149.179 6.41283 136.709 6.83338C124.481 7.24582 109.958 8.04434 102.284 8.72625C101.47 8.79868 100.581 8.85017 100.309 8.84071C98.3127 8.77125 125.786 6.21702 141.505 5.01078C158.725 3.6894 172.349 2.92668 191.237 2.22653C203.449 1.77396 234.623 1.96328 247.246 2.56694C258.94 3.12614 259.36 3.13371 259.714 2.79425C260.084 2.44018 260.094 2.17761 259.751 1.84909C259.314 1.43097 256.854 1.20949 251.267 1.08516C249.211 1.03935 244.672 0.854073 241.18 0.673258C237.688 0.492579 233.371 0.283523 231.586 0.208656C228.219 0.0674374 210.073 -0.0489181 202.312 0.0208129ZM140.132 3.67643C140.037 3.71345 139.846 3.71575 139.709 3.68142C139.572 3.6471 139.65 3.61683 139.883 3.61413C140.116 3.61143 140.228 3.6394 140.132 3.67643ZM138.298 3.81805C138.124 3.85008 137.807 3.85089 137.592 3.81994C137.378 3.78886 137.52 3.76265 137.908 3.76156C138.296 3.76062 138.471 3.78602 138.298 3.81805ZM136.391 3.95481C136.178 3.98576 135.829 3.98576 135.615 3.95481C135.402 3.92386 135.576 3.89859 136.003 3.89859C136.43 3.89859 136.605 3.92386 136.391 3.95481ZM99.4981 8.95355C99.3236 8.98572 99.0378 8.98572 98.8632 8.95355C98.6887 8.92126 98.8315 8.8949 99.1807 8.8949C99.5299 8.8949 99.6726 8.92126 99.4981 8.95355ZM97.9462 9.08274C97.8493 9.12031 97.6906 9.12031 97.5935 9.08274C97.4966 9.04531 97.5759 9.01464 97.7699 9.01464C97.9639 9.01464 98.0433 9.04531 97.9462 9.08274ZM202.559 20.2992C202.656 20.3367 202.814 20.3367 202.911 20.2992C203.008 20.2617 202.929 20.2311 202.735 20.2311C202.541 20.2311 202.462 20.2617 202.559 20.2992Z' fill='%23841D32'/%3E%3C/svg%3E");
		margin-right: -10px;
		margin-top: 0;
		width: 100%;
		max-width: 264px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}

.draw-title-3 {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	padding-right: 10px;
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='132' height='17' viewBox='0 0 132 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.7608 1.42904C29.2045 1.09382 14.5888 2.3189 0.499526 7.46305C0.248149 7.55448 0.143794 7.73428 0.123227 7.77543C0.00287024 8.01922 -0.0101018 8.27825 0.00513317 8.49158C0.0142742 8.62109 0.0760026 9.16811 0.413457 9.22449C0.646553 9.26258 2.30105 8.99593 2.93939 8.92736C5.94449 8.60585 8.94353 8.14721 11.941 7.61695C18.7373 6.41929 25.5245 5.38315 32.3315 4.43995C36.1532 3.90969 39.9764 3.47084 43.7973 3.11124C52.9894 3.32608 62.1585 4.16416 71.1563 5.02964C67.5799 5.47 64.2937 5.91645 61.569 6.20596C56.9741 6.69356 52.3876 7.26953 47.8019 8.02835C45.4458 8.41691 43.0927 8.839 40.7412 9.33726C40.4807 9.39364 39.8873 9.45153 39.6001 9.5201C39.4782 9.54753 39.3899 9.59172 39.3502 9.6222C39.1019 9.81419 39.0707 10.2073 39.0676 10.4054C39.0661 10.5258 39.0867 11.1825 39.5056 11.3105C58.9859 17.3171 79.3093 10.3292 98.8596 16.1682C99.0889 16.2368 99.3037 15.9198 99.338 15.4596C99.3723 15.001 99.2138 14.5713 98.9838 14.5027C80.5708 9.00355 61.4714 14.8837 43.0348 10.5669C44.6459 10.2545 46.2578 9.97265 47.8712 9.70599C52.4485 8.94869 57.0266 8.37425 61.6139 7.88666C66.2301 7.39753 72.4703 6.44214 79.0023 5.84026C84.608 6.465 90.2107 7.16591 95.8172 7.76017C98.1824 8.01007 100.548 8.2173 102.913 8.47177C103.885 8.57538 106.386 9.00964 106.748 8.84813C107.03 8.72166 107.098 8.31787 107.115 8.11522C107.132 7.8958 107.122 7.62304 106.994 7.36248C106.954 7.2802 106.835 7.10954 106.591 6.96936C99.9984 3.19201 89.2029 3.25143 79.0922 4.16415C76.9174 3.92035 74.7426 3.68874 72.5671 3.47999C67.5868 3.00001 62.5516 2.5185 57.4875 2.13909C71.7589 1.4336 86.0371 1.63626 100.319 2.14672C106.316 2.36156 122.479 3.65675 128.845 4.80108C128.767 4.96107 128.722 5.18354 128.727 5.42581C128.738 5.88903 128.935 6.24863 129.167 6.2273C130.481 6.1054 131.24 5.94998 131.541 5.78999C131.728 5.69094 131.83 5.53247 131.878 5.42886C131.993 5.17897 132.015 4.91078 131.992 4.65631C131.977 4.49784 131.942 4.32414 131.859 4.16415C131.804 4.05444 131.67 3.88684 131.442 3.77255C128.94 2.52766 107.474 0.718963 100.334 0.462974C81.4666 -0.210519 62.6064 -0.347642 43.7608 1.42904ZM101.488 6.63718C97.8008 5.63608 93.4786 5.2841 88.9698 5.30695C91.2665 5.57361 93.5639 5.83418 95.8621 6.07798C97.7368 6.27759 99.6122 6.44823 101.488 6.63718ZM26.3716 3.60342C21.5345 4.31653 16.7027 5.08754 11.8671 5.94083C11.3087 6.03835 10.7511 6.13435 10.1928 6.22882C15.5403 4.91841 20.9434 4.08492 26.3716 3.60342Z' fill='%23841D32'/%3E%3C/svg%3E%0A");
		margin-right: -10px;
		margin-top: 0;
		width: 100%;
		max-width: 264px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
	}
}

@media media-breakpoint-down(lg) {
	.draw-title-1, .draw-title-2, .draw-title-3 {
		align-items: center;
	}

	.draw-title-2 {
		&:before {
			margin-top: 0;
		}
	}

	.draw-title-3 {
		&:before {
			background-position: center;
		}
	}
}

a, button {
	i.afzaliwp-icon {
		font-size: 24px;
	}
}

.text-24px {
	&-reg {
		font-weight: 400;
		font-size: 24px;
		line-height: 41px;
	}

	&-bold {
		font-weight: 700;
		font-size: 24px;
		line-height: 41px;

	}

	&-black {
		font-weight: 900;
		font-size: 24px;
		line-height: 41px;
	}

	@media media-breakpoint-down(lg) {
		&-reg, &-bold, &-black {
			font-size: 14px;
			line-height: 23px;
		}
	}
}

/* rtl:end:ignore */