@font-face {
  font-family: 'afzaliwp-icon-1-0';
  src:  url('fonts/afzaliwp-icon-1-0.eot?fr5rmm');
  src:  url('fonts/afzaliwp-icon-1-0.eot?fr5rmm#iefix') format('embedded-opentype'),
    url('fonts/afzaliwp-icon-1-0.ttf?fr5rmm') format('truetype'),
    url('fonts/afzaliwp-icon-1-0.woff?fr5rmm') format('woff'),
    url('fonts/afzaliwp-icon-1-0.svg?fr5rmm#afzaliwp-icon-1-0') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.afz-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'afzaliwp-icon-1-0' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.afz-bars-alt:before {
  content: "\e912";
}
.afz-timer:before {
  content: "\e915";
}
.afz-calendar:before {
  content: "\e917";
}
.afz-login:before {
  content: "\e919";
}
.afz-bars:before {
  content: "\e91e";
}
.afz-facebook:before {
  content: "\e900";
}
.afz-link-alt:before {
  content: "\e909";
}
.afz-x:before {
  content: "\e90a";
}
.afz-mail:before {
  content: "\e90d";
}
.afz-phone:before {
  content: "\e90e";
}
.afz-pin:before {
  content: "\e90f";
}
.afz-chevron-down:before {
  content: "\e901";
}
.afz-arrow-down:before {
  content: "\e902";
}
.afz-chevron-left:before {
  content: "\e903";
}
.afz-arrow-left:before {
  content: "\e904";
}
.afz-chevron-right:before {
  content: "\e905";
}
.afz-arrow-right:before {
  content: "\e906";
}
.afz-chevron-up:before {
  content: "\e907";
}
.afz-arrow-up:before {
  content: "\e908";
}
.afz-category:before {
  content: "\e91d";
}
.afz-cross-circle:before {
  content: "\e90b";
}
.afz-cross:before {
  content: "\e90c";
}
.afz-document:before {
  content: "\e910";
}
.afz-eye:before {
  content: "\e91a";
}
.afz-eye-slash:before {
  content: "\e91b";
}
.afz-link:before {
  content: "\e911";
}
.afz-arrow-receive:before {
  content: "\e913";
}
.afz-arrow-send:before {
  content: "\e914";
}
.afz-check-filled-square:before {
  content: "\e916";
}
.afz-check-empty-square:before {
  content: "\e918";
}
.afz-trash:before {
  content: "\e91c";
}
.afz-instagram:before {
  content: "\ea92";
}
.afz-whatsapp:before {
  content: "\ea93";
}
.afz-telegram:before {
  content: "\ea95";
}
.afz-linkedin:before {
  content: "\eac9";
}
.afz-linkedin-alt:before {
  content: "\eaca";
}
